rasterio
numpy
tensorflow>=2.10
opencv-python
scikit-learn
matplotlib
tqdm
albumentations
segmentation-models

# Cellular Automata dependencies
scipy
flask
flask-cors

# Data handling
pandas
geopandas

# Additional utilities
Pillow
requests
